.task-list {
  padding: 8px;
  width: 250px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: white;
  cursor : "pointer";
}

.task {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: lightblue;
}